<section id="project">
  <div id="container">
    <div class="ui center aligned text container">
      <p class="medium-header medium-margin">Projects</p>
      <hr>
    </div>

    <!-- Simple Reddit Clone -->
    <div class="xxlarge-margin margin-below">
      <div id="projects" class="ui stackable grid container">
        <div class="row">
          <div class="no-pad ui center aligned seven wide column cont">
            <div class="ui image">
              <img class="shadow image" src="./assets/images/voronoi2.png">
              <div class="middle">
                <a class="desc" href="./assets/files/first.pdf" download="Coverage-Control.pdf">Download Paper</a>
              </div>
            </div>
          </div>
          <div class="ui center aligned nine wide column">
            <p class="large-margin small-header">
              Coverage Control
            </p>
            <br>
            <p class="res-p font">
              The key idea behind the coverage algorithm is to assign a region for each agent to be responsible for. The
              idea of the implementation is to enhance the algorithm to make it more adaptive to a situation where there
              could be an
              obstacle in the map where the agents are being deployed.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Arduino based obstable avoidance robot-->
    <div class="xxlarge-margin">
      <div id="projects" class="ui computer reversed stackable grid container">
        <div class="row">
          <div class="no-pad ui center aligned seven wide column cont">
            <div class="shadow ui right floated image">
              <img class="shadow image" src="./assets/images/smart_musuem.jpg">
              <div class="middle">
                <a class="desc" href="https://ieeexplore.ieee.org/abstract/document/8019241">More</a>
              </div>
            </div>
          </div>
          <div class="ui center aligned nine wide column">
            <p class="large-margin small-header">
              Smart Museum
            </p>
            <p class="res-p">
              The paper focussed on designing and validating a context aware content delivery
              system using a Raspberry Pi which plays the role of a beacon. A local database had been set up to hold the
              required contents, this would be queried according to the ID of the beacon. The system provided a
              non-traditional
              way of Content delivery System that delivers the cultural contents.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Brain Net -->
    <div class="xxlarge-margin xlarge-below">
      <div id="projects" class="ui stackable grid container">
        <div class="row">
          <div class="no-pad ui center aligned seven wide column cont">
            <div class="shadow ui image">
              <img class="image" src="./assets/images/Brain_Net.png">
              <div class="middle">
                <a class="desc" href="./assets/files/third.pdf" download="Brain-Net.pdf">Download paper</a>
              </div>
            </div>
          </div>
          <div class="ui center aligned nine wide column">
            <p class="large-margin small-header">
              Brain Net
            </p>
            <p class="res-p">
              The project investigates more on how the data from the EEG sensors (provided before-hand) can be processed
              in both the local fog server and the remote cloud server. The results were represented by comparing the
              time taken by the selected server to complete the processing.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
